@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

.logo {
  height: 180px;
  width: 180px;
}

table {
  border-collapse: collapse;
  font-size: 1.4rem;
}

th, td {
  border: solid 1px #333;
  padding: 5px;
}

tr:nth-child(odd) {
  background: #ccc;
}