@charset "UTF-8";

body {
  animation: bgcolor 10s ease infinite;
  background-color: #cc0000;
}

@keyframes bgcolor {
  0%  { background-color: #cc0000; }
  25% { background-color: #00cc00; }
  75% { background-color: #0000cc; }
}