@charset "utf-8";

/* 基本レイアウト ここから↓ */
@import url(common.css);
body {
    background-color: #f3f2e9;
    color: #5f5039;
}
header, nav, #breadcrumb, #contents, footer {
    width: 840px;
    margin-left: auto;
    margin-right: auto;
}
/* 基本レイアウト ここまで↑ */

/* トップページ ここから↓ */

/* トップページ ここまで↑ */

/* 「結婚式場のコンセプト」ページ ここから↓ */

/* 「結婚式場のコンセプト」ページ ここまで↑ */

/* 「プランのご案内」ページ ここから↓ */

/* 「プランのご案内」ページ ここまで↑ */

/* 「ブライダルフェア」ページ ここから↓ */

/* 「ブライダルフェア」ページ ここまで↑ */

/* 「お問い合わせ」ページ ここから↓ */

/* 「お問い合わせ」ページ ここまで↑ */
